server {
    listen {{ nginx_server_port }};
    server_name {{ nginx_server_name }};

    location /static/ {
        alias /home/vagrant/DevOPs/Lab3-N/catalog/static/;
        autoindex on;
    }

    location / {
        proxy_pass {{ nginx_proxy_pass }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}


